<header class="header">
    
      <nav class="header-nav">
          <a class="header-title" href="/">Dreambrary</a>
            <ul>
               <li ><a  href="/authors">Authors</a></li>
               <li ><a  href="/authors/new">Add Author</a></li>
               <li ><a href="/books">Books</a></li>
               <li ><a  href="/books/new">Add Book</a></li>
               <li class="nav_btn">
                <a href="#sign-up" class="button" id="signup">Sign Up</a> 
            </li>
            </ul>
        </nav> 
    </div>    
</header>