

.btn {
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background: #d81159;
    border-color: black;
    --color-primary-text: white;
}
.btn-primary:hover{
    color:#fff;
    background-color:#b64f75;
}    

.btn-danger{
    color:#fff;
    background: #d81159;
    border-color: black;
    --color-btn-danger-text: white;
}
.btn-danger:hover{
    color:#b64f75;
    background-color:#b64f75;
} 

.btn-row{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
} 
.btn-row{
    margin-left: 1rem;
}
.btn-row > *:first-child { 
    margin-left: 0;
}   

